body{
    height: 100%;
    margin: 0;
}


.header-div{
    
    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(17, 16, 16);

}


.TAL-logo{
    height: auto;
    width: auto;
    margin-top: 1.5%;
    margin-left: 10%;
    margin-bottom: 8%;
    margin-right: 13%;
}

.about-us, .our-projects, .our-testimonials{
    height: auto;
    width: auto;
    margin-top: 1.5%;
    margin-left: 8%;
    margin-bottom: 1%;
    font-family:'Times New Roman', Times, serif;

}

.donate-now{
    height: 76%;
    width: 10%;
    margin-top: 0.5%;
    margin-left: 8%;
    margin-bottom: 1%;
    border: 3px solid white;
    background-color: rgb(17, 16, 16);
    font-size: 15;
    
}
