
body{
    height: 100%;
    margin: 0;
}


.header-div{
    
    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(17, 16, 16);
    padding-bottom: 1%;

}


.TAL-logo{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    margin-left: 10%;
    margin-bottom: 8%;
    color: white; 
    width: 40%;
   
}

.homePage{
  text-decoration: none; 
  color: rgba(255, 255, 255, 0.922)
}

.logo-1{
  align-self: center; 
  width: 27%; 
  background-color: black;
}

.aboutUs{
  text-decoration: none; 
  color: rgba(255, 255, 255, 0.922)
}

.ourProjects{
  text-decoration: none; 
  color: rgba(255, 255, 255, 0.922)
}

.donateNow{
  text-decoration: none; 
  color: rgba(255, 255, 255, 0.922)
}

.about-us, .our-projects, .our-testimonials{
    height: auto;
    width: auto;
    margin-top: 2.2%;
    margin-left: 6%;
    margin-bottom: 1%;
    font-family:'Times New Roman', Times, serif;

}

.donate-now{
    height: 76%;
    width: 10%;
    margin-top: 1%;
    margin-left: 7%;
    margin-bottom: 1%;
    border: 3px solid white;
    background-color: rgb(17, 16, 16);
    font-size: 15;
    
}

.slide-show-container{
  
  width: 100%;
  display: block;
  margin-bottom: 35%;
}





.text{
  
  
  margin-top: -72%;
  margin-left: 6%;
  
}
.p1{
 
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-color: red;
  font-size: xx-large;
  color: white;

}
.p2{
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-color: red;
  font-size: 20px;
  color: white;
  font-style: italic;
}

.text2{
  display: inline-block;
  
  padding-top: 5%;
  margin-left: 6%;

  
}
.text3{
  display: inline-block;
  

}
.message{
  margin-left: 25%;
  margin-top: 20%;
  
}
.message-text{
  
  font-family: Georgia;
  font-size: 25px;
  color: white;
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-color: red;
  text-decoration-thickness: 1px;
  
  
}
  

.mission-statement{
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.our-mission{
  
  padding-left: 41%;
}

.mission-image{
  height: 7%;
  width: 10%;
  margin-left: -6%;
  
  
}

.div-around-pictures{
  border-top:  2px solid red;
  margin-left: 11.5%;
  margin-right: 10%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.our-mission-text{
  font-weight: bold;
  font-size: 35;
  z-index: 999;
  margin-top: -3%;
}

.mission-answer{
  margin-left: 29.5%;
  margin-top: -2%;
}

.mission-answer-text{
  font-weight: 900;
  font-size: 20;
  width: 65%;
  line-height: 2;  
  text-align: center;
 
}
.link-about-us{
  height: auto;
  width: auto;
  margin-left: 46.8%;
  font-size: 25;
  font-weight: 800;
  
}
.arrow{
  border: solid  rgb(173, 46, 46);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 0.4%;
  margin-bottom: 0.2%
}
.arrow-1{
  border: solid  rgb(173, 46, 46);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 0.4%;
}
.right{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.poverty-info{
  display: flex;
  flex-direction: column;
}

.facts{
  display: flex;
  flex-direction: row;
  margin-bottom: 4%;
}

.facts-text{
  display: flex;
  flex-direction: column;
}

.World-kindness-day{
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
}

.countdown{
  text-align: center;
  font-size: 55;
  margin-left: 3%;
}

.WKD-info{
  display: flex;
  flex-direction: row;
}