body{
    height: 100%;
    margin: 0;
}


.header-div{
    
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(17, 16, 16);
  padding-bottom: 1%;

}


.TAL-logo{
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  margin-left: 10%;
  margin-bottom: 8%;
 
}

.about-us, .our-projects, .our-testimonials{
  height: auto;
  width: auto;
  margin-top: 2.2%;
  margin-left: 6%;
  margin-bottom: 1%;
  font-family:'Times New Roman', Times, serif;

}

.donate-now{
  height: 76%;
  width: 10%;
  margin-top: 1%;
  margin-left: 7%;
  margin-bottom: 1%;
  border: 3px solid white;
  background-color: rgb(17, 16, 16);
  font-size: 15;
  
}

.about-us-screen{
  width: 100%;
  margin-bottom: 58%;

}
.about-text-div{
  margin-top: -67%;
  margin-left: 9%;
}
.about-text{
  
  color: white;
  font-weight: bold;
  font-size: 35;
  text-decoration-line: underline;
  text-decoration-color: red;
}

.our-mission{
  padding-left: 39%;
}

.mission-image{
  height: 7%;
  width: 10%;
  margin-left: -6%;
  
  
}

.our-mission-text{
  font-weight: bold;
  font-size: 35;
  z-index: 999;
  margin-top: -3%;
}

.mission-answer{
  margin-left: 27%;
  margin-top: 4%;
}

.mission-answer-text{
  text-align: center;
  font-weight: 900;
  font-size: 20;
  width: 65%;
  line-height: 2;  
 
}

.mission-div{
  margin-top: -53%;
  width: 100%;
  position: relative;
}
.who-are-we, .what-do-we-do, .why-do-we-do, .how-to-help{
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
}
.arrow{
  border: solid  rgba(26, 52, 157, 0.922);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.profile-1, .profile-2{
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 40%;
  width: 60%;
 
}
.profile-1-pic{
  background-image: url("./images/tarunImage.jpg");
  background-size: cover;
  background-position: 20% 27%;
  background-repeat: no-repeat;
  height: 100%;
  width: 28%;
  border-radius: 50%;
  margin-left: 15%;
  margin-bottom: 10%;
}
.profile-1-text, .profile-2-text{
display: flex;
flex-direction: column;
}
.profile-2-pic{
  background-image: url("./images/anirdeshImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80%;
  width: 28%;
  border-radius: 50%;
  margin-left: 15%;
  margin-bottom: 10%;

}


  
  
  
  